@import '../../../scss/variables';
@import '../../../scss/mixins';

.home {
  &__jumbo {
    background-color: $gray-lter;
    text-align: center;
    padding: 6rem 0;

    .container {
      padding: 0;
      max-width: 730px;
    }

    h1 {
      margin-top: 0;
    }

    &__buttons {
      margin-top: 3.5rem;
    }
  }

  &__infoList {
  }

  &__infoItem {
  }
}
