/* GLOBALS (imported into app.js, right after defaults and typography)
---------------------------------------- */
@import 'mixins';
@import 'variables';

a,
a:visited,
a:link {
  color: $blue;
  transition: color 0.4s ease;

  &:active,
  &:hover {
    color: darken($blue, 10%);
  }
}

.divider {
  border: none;
  border-bottom: 1px solid $border;
  margin: 1rem 0;
}

// To get a consistent space at the top of each page, which requires adding this class to a div,
// h1, or other element on every page, but which allows the flexibity to have a fixed nav

.headspace {
  margin-top: 5rem;
}
